# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [2]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [4]:
alpha=0.05

In [9]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [10]:
df['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [14]:
# Filter for Dragon-type Pokémon (in Type 1 or Type 2)
dragon_hp = df[(df['Type 1'] == 'Dragon') | (df['Type 2'] == 'Dragon')]['HP']

# Filter for Grass-type Pokémon (in Type 1 or Type 2)
grass_hp = df[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Grass')]['HP']

dragon_hp, grass_hp

(7       78
 159     41
 160     61
 161     91
 196     90
 249     75
 275     70
 360     50
 361     80
 365     75
 366     75
 406     45
 407     65
 408     95
 409     95
 417     80
 418     80
 419     80
 420     80
 425    105
 426    105
 491     58
 492     68
 493    108
 494    108
 540    100
 541     90
 544    150
 545    150
 671     46
 672     66
 673     76
 682     77
 694     52
 695     72
 696     92
 706    100
 707    100
 710    125
 711    125
 712    125
 761     65
 766     58
 767     82
 774     45
 775     68
 776     90
 790     40
 791     85
 794    108
 Name: HP, dtype: int64,
 0      45
 1      60
 2      80
 3      80
 48     45
        ..
 783    59
 784    65
 785    55
 786    75
 787    85
 Name: HP, Length: 95, dtype: int64)

In [ ]:
#set the hypotheses
#H0:mu dragon<=mu grass
#H1:mu dragon>mu grass

In [16]:
t_stat, p_value = st.ttest_ind(dragon_hp, grass_hp, alternative='greater', equal_var=False)
t_stat, p_value

(4.097528915272702, 5.090769061176926e-05)

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [26]:
alpha=0.05

In [27]:
#set the hypotheses
#H0:mu legendary =mu non-legendary
#H1:mu legendary!=mu non-legendary

In [28]:
legendary_stats = df[df['Legendary'] == True][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
non_legendary_stats = df[df['Legendary'] == False][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
legendary_stats, non_legendary_stats

(      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
 156   90      85      100       95      125     85
 157   90      90       85      125       90    100
 158   90     100       90      125       85     90
 162  106     110       90      154       90    130
 163  106     190      100      154      100    130
 ..   ...     ...      ...      ...      ...    ...
 795   50     100      150      100      150     50
 796   50     160      110      160      110    110
 797   80     110       60      150      130     70
 798   80     160       60      170      130     80
 799   80     110      120      130       90     70

 [65 rows x 6 columns],
      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
 0    45      49       49       65       65     45
 1    60      62       63       80       80     60
 2    80      82       83      100      100     80
 3    80     100      123      122      120     80
 4    39      52       43       60       50     65
 ..   ..     ...      ...      ...      ...    ...
 787  85     100      122       58       75     54
 788  55      69       85       32       35     28
 789  95     117      184       44       46     28
 790  40      30       35       45       40     55
 791  85      70       80       97       80    123

 [735 rows x 6 columns])

In [59]:
results = {}

stats_list = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

for stat in stats_list:
    t_stat, p_value = st.ttest_ind(legendary_stats[stat], non_legendary_stats[stat], equal_var=False)
    results[stat] = {'t_stat': t_stat, 'p_value': p_value}

for stat, res in results.items():
   print(f"{stat}: T-statistic = {res['t_stat']}, P-value = {res['p_value']}")

HP: T-statistic = 8.981370483625046, P-value = 1.0026911708035284e-13
Attack: T-statistic = 10.438133539322203, P-value = 2.520372449236646e-16
Defense: T-statistic = 7.637078164784618, P-value = 4.8269984949193316e-11
Sp. Atk: T-statistic = 13.417449984138461, P-value = 1.5514614112239812e-21
Sp. Def: T-statistic = 10.015696613114878, P-value = 2.2949327864052826e-15
Speed: T-statistic = 11.47504444631443, P-value = 1.049016311882451e-18

Challenge 2

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [44]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [45]:
school_coords = np.array([-118, 37])  
hospital_coords = np.array([-122, 34])

In [46]:
def calculate_distance(row):
    house_coords = np.array([row['longitude'], row['latitude']])
    distance_to_school = np.linalg.norm(house_coords - school_coords)
    distance_to_hospital = np.linalg.norm(house_coords - hospital_coords)
    return distance_to_school, distance_to_hospital

In [49]:
df[['distance_to_school', 'distance_to_hospital']] = df.apply(calculate_distance, axis=1, result_type='expand')

In [50]:
close_to_school_or_hospital = df[(df['distance_to_school'] < 0.50) | (df['distance_to_hospital'] < 0.50)]
far_from_school_or_hospital = df[(df['distance_to_school'] >= 0.50) | (df['distance_to_hospital'] >= 0.50)]

In [53]:
#H0:mu close<=far 
#H1:mu close>far

In [54]:
t_stat, p_value = st.ttest_ind(
    close_to_school_or_hospital['median_house_value'], 
    far_from_school_or_hospital['median_house_value'], 
    equal_var=False)
t_stat,p_value

(-17.169161722319306, 5.226654976440808e-05)